<h2 mat-dialog-title>Update User</h2>
<mat-dialog-content>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="grid grid-cols-2 gap-3">
        <mat-form-field appearance="fill">
            <mat-label>Id</mat-label>
            <input matInput formControlName="employeeId" [readonly]="true">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" [readonly]="true">
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label>Firstname</mat-label>
            <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Lastname</mat-label>
            <input matInput formControlName="lastName">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Avatar Src</mat-label>
            <input matInput formControlName="image">
        </mat-form-field>



        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <input matInput formControlName="role">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..." formControlName="shortDescription"></textarea>
          </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="phoneNumber">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <input matInput formControlName="status">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="gap-4" align="center">
    <button class="btns btn_secondary" (click)="onCancel()">Cancel</button>
    <button class="btns btn_primary" [disabled]="userForm.invalid" (click)="onSubmit()">Update</button>
</mat-dialog-actions>