    <!-- <div class="flex justify-between p-4">
        <div>
            <div class="flex-1">
                <span class="text-lg font-semibold mb-1">{{ user.firstName }} {{user.lastName}}</span>
                <span
                    class="inline-block bg-green-100 text-green-800 text-xs px-2 py-1 rounded-lg">{{user.status}}</span>
            </div>
            <p class="text-gray-500 mb-2">{{ user.role }}</p>
        </div>
        <div class="mr-4">
            <img class="w-12 h-12 rounded-full" [src]="user.image" alt="User Image">
        </div>
    </div>
    <div class="flex">
        <div class="flex-1 border-t-2 border-r-2 border-gray-200  py-3 rounded-es-lg ">
            <button class="w-full" (click)="updateUser(user)">Update</button>
        </div>
        <div class="flex-1 border-t-2 border-gray-200 py-3 rounded-ee-lg ">
            <button class="w-full" (click)="deleteUser(user)">Remove</button>

        </div>
    </div> -->

    <div class="card">
        <div class="card-header">
            <img  [src]="user.image" alt="Person" class="person-img">
        </div>
        <div class="card-body">
            <h2>{{ user.firstName }} {{user.lastName}}</h2>
            <h4>{{ user.role }}</h4>
            <p class="status " [ngClass]="user.status==='active'?'active_status':'other_status'">{{user.status}}</p>
            <div class="flex">
            <div class="flex-1   py-3 rounded-es-lg ">
                <button class=" btns btn_primary" (click)="updateUser(user)">Update</button>
            </div>
            <div class="flex-1 py-3 rounded-ee-lg ">
                <button class=" btns btn_secondary" (click)="deleteUser(user)">Remove</button>
    
            </div>
        </div>
        </div>
        
    </div>