.orderlist {
  margin-top: 20px;
}
.orderlist li {
  list-style: decimal;
  padding-bottom: 10px;
}

.image-dev {
  cursor: pointer;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  transition: all 0.4s;
}
