
<nav class="bG_color">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <a routerLink="/home" routerLinkActive="router-link-active" class="no-underline  text-gray-900 hover:text-gray-700   text-sm font-medium" >Home</a>
              <a routerLink="/team" routerLinkActive="router-link-active" class="no-underline text-gray-900  hover:text-gray-700   text-sm font-medium" >Team</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
<router-outlet />
