/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(135deg, #d3f5cf, #a8dbfa);
}


.btns{
  padding: 6px 18px;
  border-radius: 50px;
}
.btn_primary{
  background-color: #339af0;
  color: #fff;
}
.btn_secondary{
  background-color: #fff;
  color:#339af0 ;
}
.btn_secondary:hover{
  box-shadow: inset 0 0 0 1px #339af0;
  transition: all 0.5s ease-in-out;
}
.btn_primary:hover{
  background-color: #fff;
  color: #339af0;
  box-shadow: inset 0 0 0 1px #339af0;
  transition: all 0.5s ease-in-out;

}