.image-dev {
  cursor: pointer;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  transition: all 0.4s;
}
.profile-color {
  color: #1d685f;
}
.image-selected {
  transform: scale(1.2);
}
.profile_container {
  gap: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.profile_name {
  color: #1d685f;
  font-size: 14px;
  font-weight: 500;
}
.profile-block {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 35px;
}

h1 {
  text-align: center;
  font-weight: 500;
}
