<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">
    <div class="row profile-block">
      <h1 class="profile-color">Meet the team</h1>
      <div class="col-md-2 profile_container" *ngFor="let team of teamList">
        <img
          (click)="selectImage(team)"
          class="image-dev"
          [ngClass]="{ 'image-selected': team.selected }"
          [src]="team.profileImage"
        />
        <p class="profile_name">{{ team.firstName }} {{ team.lastName }}</p>
      </div>
    </div>

    <div class="row" *ngIf="member">
      <app-team-info-detail [member]="member"></app-team-info-detail>
    </div>
  </div>
</section>
