<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">
    <div class="row profile-block">
      <h1>Meet the team</h1>
      <div class="col-md-2 profile_container" *ngFor="let team of teamList">
        <img
          (click)="selectImage(team)"
          class="image-dev"
          [ngClass]="{ 'image-selected': team.selected }"
          [src]="team.profileImage"
        />
        <p class="profile_name">{{ team.firstName }} {{ team.lastName }}</p>
      </div>
    </div>

    <div class="row" style="margin-top: 50px" *ngIf="member">
      <div class="col-lg-12" *ngIf="member.id == 0">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <div class="row">
            <div class="col-md-5">
              <h4>Sudharshan Nallamothu</h4>

              <p><b>Role:</b> Lead</p>
              <p>
                <b>Skills:</b> Advance in Angular, React, HTML/CSS, OJET,
                Typescript, RxJS, and REST APIs, Spring, Spring Boot
              </p>
              <p><b>Experience:</b> 10 Years</p>
              <p><b>Clients: </b>ST Engineering, Addidas, HSBC, SPPS Syatem</p>
            </div>
            <div class="col-md-5">
              <img [src]="member.profileImage" class="image-dev" />
            </div>
          </div>
          <b>Notable Cotribution</b>
          <ol class="orderlist">
            <li>
              Extensive experience with front-end tooling (Node js, NPM, Bower,
              Gulp, Grunt) and testingtools(Jasmine, Selenium, Jest, rotractor)
            </li>
            <li>
              Led development teams, colloborated with UX designers, and
              participated in Agile Scrum, contributing to sprint planning and
              execution
            </li>
            <li>
              Migrated HSBC banking application from Dojo to Angular, enhancing
              performance and user experience
            </li>
            <li>
              Utilized RsJS for reative programming and implemented an RxJS
              store for state management in Angular application, improving
              effiency and performance
            </li>
            <li>
              Developed automated tools and streamlined processes for Adidas,
              reducing manual efforts and improving product visualization
            </li>
            <li>
              Created responsive UI components using React and JavaScript,
              optimizing performance across devices and browsers
            </li>
            <li>
              Conducted thorough testing of Angular applications using Jasmine
              and Protractor, ensuring high-quality releases
            </li>
          </ol>
        </div>
      </div>
      <div class="col-lg-12" *ngIf="member.id == 1">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <div class="row">
            <div class="col-md-5">
              <h4>Jeyan Bright Jeyakumar</h4>

              <p><b>Role:</b> Angular Developer</p>
              <p>
                <b>Skills:</b> Advance in Angular and HTML/CSS, Intermediate in
                Typescript and Rxjs, and REST APIs
              </p>
              <p><b>Experience:</b> 9 Years</p>
              <p><b>Clients: </b>Conduent, Manipal, VLMS</p>
            </div>
            <div class="col-md-5">
              <img [src]="member.profileImage" class="image-dev" />
            </div>
          </div>
          <b>Notable Cotribution</b>
          <ol class="orderlist">
            <li>
              Developed multibrowser compatible pages for CFS Loan Maager using
              Angular Material and Typescript
            </li>
            <li>
              Enhanced Simpliciti's application performance with Angular 12 and
              Bootstarp integration
            </li>
            <li>
              Designed a cross-brower compatible Learning Management System
              portal with Angular 6 and Bootstarp
            </li>
            <li>
              Gained extensive experience with CK Editor integration, PDF
              generation, and website hosting
            </li>
            <li>
              Lead a team of 4 to deliver user story features within target
              timelines
            </li>
          </ol>
        </div>
      </div>
      <div class="col-lg-12" *ngIf="member.id == 2">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <div class="row">
            <div class="col-md-5">
              <h4>Prakash Chandra Pant</h4>

              <p><b>Role:</b> Angular Developer</p>
              <p>
                <b>Skills:</b> Advance in Angular, Intermediate in Typescript
                and Rxjs
              </p>
              <p><b>Experience:</b> 8 Years total, 5 years in Angular</p>
              <p><b>Clients: </b>Conduent, Reliance Jio, United Airlines</p>
            </div>
            <div class="col-md-5">
              <img [src]="member.profileImage" class="image-dev" />
            </div>
          </div>
          <b>Notable Cotribution</b>
          <ol class="orderlist">
            <li>
              Demonstrated success delivering projects for Conduent, Reliance
              Jio, and United Airlines
            </li>
            <li>
              Proven ability to integrate APIs securely, enhancing application
              functionality
            </li>
            <li>
              Extensive 5-years expertise in Angular development ensuring
              top-tier solution
            </li>
            <li>
              Strong communication skills ensuring effective collaboration and
              understanding of client needs
            </li>
            <li>
              Commitment to continuous learning, currently expanding skills in
              ReactJS
            </li>
          </ol>
        </div>
      </div>
      <div class="col-lg-12" *ngIf="member.id == 3">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <div class="row">
            <div class="col-md-5">
              <h4>Venu Beenaveni</h4>

              <p><b>Role:</b> Angular Developer</p>
              <p>
                <b>Skills:</b> Advance in Angular and HTML/CSS, Intermediate in
                Typescript and Rxjs
              </p>
              <p><b>Experience:</b> 6 Years in web application development</p>
              <p><b>Clients: </b>Arch Insurance Company, J & J</p>
            </div>
            <div class="col-md-5">
              <img [src]="member.profileImage" class="image-dev" />
            </div>
          </div>
          <b>Notable Cotribution</b>
          <ol class="orderlist">
            <li>
              Extensive knowledge of AG Grid for effective data display and
              manipulation
            </li>
            <li>Proficient in NgRx store and state management</li>
            <li>
              Developed complex front-end features like forms and validation,
              contributing to project robustness
            </li>
            <li>
              Integrated various API's and manipulated data for front-end
              display, ensuring seamless data flow
            </li>
            <li>
              Successfully led a UI development team for three members,
              delivering cohesive and efeective solutions
            </li>
          </ol>
        </div>
      </div>
      <div class="col-lg-12" *ngIf="member.id == 4">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <div class="row">
            <div class="col-md-5">
              <h4>Amol G. Nasre</h4>

              <p><b>Role:</b> Angular Developer</p>
              <p>
                <b>Skills:</b> Strong in Angular,Typescript, RxJs and REST APIs
              </p>
              <p><b>Experience:</b> 4.11 Years in Angular Dvelopment</p>
              <p>
                <b>Clients: </b>Sony Pictures Network India, NOV (National
                Oilwell Varco), Johnson & Johnson
              </p>
            </div>
            <div class="col-md-5">
              <img [src]="member.profileImage" class="image-dev" />
            </div>
          </div>
          <b>Notable Cotribution</b>
          <ol class="orderlist">
            <li>
              Worked on Microfrontend Appplication (MFE) in Angular for a
              supported project
            </li>
            <li>
              Developed the complex hybrid application for Shark Tank India
              Season 1 in Sony Live, integrating Angular and IOS code
            </li>
            <li>
              Successfully migrated POWER BI application functionality to
              Angular 12, delivering it directly to production without prior
              test or dev environment
            </li>
            <li>Acquired knowledge of Azure for deploying projects</li>
            <li>
              Utilized testing framework such as Jasmine and Karma for unit
              testing
            </li>
            <li>
              Implemented Tailwind CSS for styling and enhncing the user
              interface
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
